<html>
    <head>
        {% block title %}
        <title>{{title}} › {{subtitle}}</title>
        {% endblock title %}
    </head>
    <body>
      <div>nav:<a href="{{ url_for('index') }}">Home</a>
         | Hello! {% if current_user.is_authenticated() %}
        {{ current_user.nickname }}, you can <a href="{{ url_for('logout') }}">logout</a>
        {% else %}
        Strange, you can <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
      </div>
        {%with messages = get_flashed_messages()%}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif%}
        {% endwith %}
    	{% block content %}{% endblock %}
    </body>
</html>
