<html>
    <head>
        <title>{% block title %} {{title}} › {{subtitle}} {% endblock title %}</title>
    </head>
    <body>
      <div> {% include "nav.html" %}
        <br />Hello! {% if current_user.is_authenticated %}
        {{ current_user.nickname }}, you can <a href="{{ url_for('admin.logout') }}">logout</a>
        {% else %}
        Strange, you can <a href="{{ url_for('admin.login') }}">Login</a> or <a href="{{ url_for('user.register') }}">Register</a>
        {% endif %}
      </div>
        {%with messages = get_flashed_messages()%}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif%}
        {% endwith %}
    	{% block content %}{% endblock %}
      {% block footer %}{% endblock footer %}
      {% block script %}
        <script src="/static/js/jquery-2.1.4.min.js"></script>
      {% endblock script %}
    </body>
</html>
