{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated() %}
<form action="" method="POST" name="post">
  {{ form.hidden_tag() }}
  <p>Please enter your username and password: </p>
  <p>{{ form.body }}</p>
  {% if form.body.errors %}
      <span style="color: red;">GlaDOS: "You are kidding me."</span>
  {% endif %}
  <p>Tags:{{ form.tags }}</p>
  <p>Category:{{ form.select_category }}</p>
  <p><input type="submit" value="Submit"></p>
</form>
{% endif %}
<hr />
{% for post in posts%}
{{ post.user.username }}:
{{ post.body }}<br />
{{ post.timestamp }}
<hr />
{% endfor %}
{% endblock %}
